*{
font-family: 'Zen Kurenaido', sans-serif;
   
}
body{
    background:f1fbff;
}
.section-padding{
  padding: 40px 0;
}
/* .carousel-item{
  height:  100vh;
  min-height: 300px;
  
} */
.carousel-caption{
  bottom: 40px;
  z-index: 2;
 
}
.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
letter-spacing: 2px;
margin-top: 25px;

}
.carousel-caption p{
  width:  60%;
 margin: auto;
 font-size: 18px ;
 line-height: 1.9;
}
.carousel-inner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}



.navbar-nav a{
   font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-dark .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}
.nav-item .nav-link :focus,
.nav-item.nav-link:hover{
  color: red;
}
.nav-item .nav-link  a:focus,
.nav-item.nav-link a:hover{
  color: red;
}
 






.w-100{
    height: 100vh;
}
.services .card-body{
   font-size: 30px;
}

.myheigth{
    height: 37vh;
    /* width: 100vh; */
}

/* ****************table********************** */
.tbl{
  padding-left: 10%; padding-right:10%;
}

/****** Responsive css ********/
@media only sreen and (min-width:768px){
    .carousel-caption{
        bottom: 370px;

    }
    .carousel-caption p{
        width: 100%;
    }
    /* .myheigth{
      width: 107vh;
    }
    .card-body{
      margin: 4px ;
    } */
}
@media only screen and (max-width: 767px){
  .navbar-nav{
    text-align: center;
  }
  .carousel-caption{
    bottom: 125px;
    align-items: center;
    justify-content: center;

  }
  .carousel-caption h5{
    font-size: 17px;
  }
  .carousel-caption a{
    padding: 10px 15px;
  }
  .carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .myheigth{
    width: 70.5vh
    
  }
  .mar{
    margin-top: 4px;
  }
  .about-img{
    margin-left: 50px ;
    margin-right: 30px;
    
  }
  .about-text{
    padding-top: 40px;
    margin-right: 50px;
    margin-left: 50px ;
  }
  .section-header{
    margin-left: 15px;
  }
  
}




@media only sreen and (min-width:350px){
 
}
@media only screen and (max-width: 450px){
 #Home{ width: 124vh;}
 #About{
  align-items: center;
  width: 120vh;
 }
 #team{
  width: 120vh;
 }
 #PerformingArt{
  width: 110vh;
 }
 #Opportunities{
  width: 120vh;
 }
 #Contribute{
  width: 120vh;
 }
 #Media{
  width:120vh;

 }
 #Contact{
  width: 130vh;
 }
.navbar-nav{
  text-align: center;
}

.carousel-caption{
  bottom: 125px;
  align-items: center;
  justify-content: center;

}
.carousel-caption h5{
  font-size: 17px;
}
.carousel-caption a{
  padding: 10px 15px;
}
.carousel-caption p{
  width: 100%;
  line-height: 1.6;
  font-size: 12px;
}
.myheigth{
  width: 70.5vh
  
}
.mar{
  margin-top: 4px;
}
.about-img{
  margin-left: 50px ;
  margin-right: 30px;
  
}
.about-text{
  padding-top: 50px;
  margin-right: 60px;
  margin-left: 60px ;
}
.section-header{
  margin-left: 15px;
}

}